.page-about {
  h1 {
    @include blue-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
  
  }

  .reasonitem{

    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-left: 2rem;
    justify-content: center;
    text-align: center;
    
  }

  .reasonitemtext{
    color: #00d9ff;
    text-align: center; 
    font-size: 25px;
    font-weight: bold;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-size: 50px;
    color: #00d9ff;

    :hover { 
      fill:#00d9ff;
    }
  }

  main {
    text-align: right;
  }

  header {
    //background-color: #6666ff;
  }

  header a,
  header p {
    color: black;
  }

  header a:hover {
    color: var(--color-grey-dark-1);
  }

  main p {
    margin-top: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }
}
