.page-home {
  h1 {
    
    font-size: 6rem;
    font-family: 'IBM Plex Sans',sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    //color: var(--color-grey-dark-1);

    // gradient effect in heading
    @include blue-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heading::selection {
    background-color: var(--color-white);
    z-index: -2000;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
  }

  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .nodeAddressbanner {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @include respond(phone) {
      //width <= 600?
      word-wrap: break-word;
      display: none;
    }
    
  }

  .nodeAddressbannerText{
    @include respond(phone) {
      //width <= 600?
      word-wrap: break-word;
      display: none;
    }
  }

  .copyButton {
    color: white;
    background-color: white;
    border: none;
    padding-left: 1rem;
  }

  .copyButtonIcon {
    fill:#6666ff;

    :hover {
      fill:#00d9ff;
    }

    &-img{
      margin: 0;
      height: 3rem;
      width: 3rem;
      fill:#6666ff;   
    }

    :hover path{
      color: grey;
      fill:grey;
      stroke: grey;      

    }

    @include respond(tab-port) {
      //width <= 900?
      height: 4rem;
      width: 4rem;
    }

    @include respond(phone) {
      //width <= 600?
      height: 5rem;
      width: 5rem;
    }

  }

  .copyText{
    color: #6666ff;
    padding-left: 1rem;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
  }

  .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    img {
      height: 40vh;
    }
  }
}
