.page-projects {
  h1 {
    @include blue-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // main h2 {
  //   color: var(--color-grey-dark-1);
  //   background: var(--color-yellow);
  //   padding: 10rem 2rem;
  // }

  // main h2:hover {
  //   color: var(--color-white);
  //   //background-color: var(--color-black);
  //   @include blue-gradient;
  //   transform: translateY(-0.6rem);
  //   box-shadow: var(--shadow-dark);
  //   transition: all 0.2s;
  // }

  .project-card {
    
    color: var(--color-white);
    //background-color: var(--color-black);
    @include blue-gradient;
    transform: translateY(-0.6rem);
    padding: 3rem 2rem;
    box-shadow: var(--shadow-dark);

    &:hover {
      @include pink-gradient;
      color: var(--color-grey-dark-1);
      transform: translateY(-0.6rem);
      //background: #6666ff;
      display: flex;
      justify-content: space-between;
    
      transition: all 0.2s;
    }
  }


  header p {
    //color: var(--color-grey-light-1);
    color:black;
  }
  
  a {
    text-decoration: none;
    font-family: 'IBM Plex Sans',sans-serif;
  }

  main li {
    list-style-type: none;
    margin-top: 2rem;
  }
}
