.page-status {
  h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    @include blue-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .material-icons {
    font-family: "Material Icons";
    font-size: 50px;
    color: #00d9ff;

    :hover {
      fill: #00d9ff;
    }
  }

  main {
    text-align: right;
  }

  header a,
  header p {
    color: black;
  }

  header a:hover {
    color: var(--color-grey-dark-1);
  }

  main p {
    margin-top: 5rem;
    text-align: justify;
    text-justify: inter-word;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    width: 18%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 -5px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 95%;
      display: block;
      margin-bottom: 20px;
    }
  }

  /* Style the counter cards */
  .card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 2rem;

    h3 {
      color: #6666ff;
    }
    p {
      margin-top: 1rem;
      text-align: center;
      font-weight: bold;
    }


    .tooltip {
      visibility: hidden;

      background-color: #f1f1f1;
      color: black;
      text-align: center;

      width: 120px;
      padding: 5px;
      border-radius: 6px;

      display: block;
      position: absolute;
      z-index: 1;
      margin-left: 95%;

      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      box-shadow: 0px 0px 8px -1px black;
      -moz-box-shadow: 0px 0px 8px -1px black;
      -webkit-box-shadow: 0px 0px 8px -1px black;
    }
  }

  .tooltiptext{
    font-weight: lighter;
    font-size: medium;
  }

  .card:hover .tooltip {
    visibility: visible;
  }


  #tailShadow {
    background-color: transparent;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 16px;
    left: -8px;
    z-index: -10;
    box-shadow: 0px 0px 8px 1px black;
    -moz-box-shadow: 0px 0px 8px 1px black;
    -webkit-box-shadow: 0px 0px 8px 1px black;
  }

  #tail1 {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent #73a7f0 transparent transparent;
    position: absolute;
    top: 8px;
    left: -20px;
  }

  #tail2 {
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent #f1f1f1 transparent transparent;
    position: absolute;
    left: -18px;
    top: 8px;
  }
}
