@mixin blue-gradient {
  background: -webkit-linear-gradient(
    240deg,
    #00d9ff,
    rgb(26, 224, 204),
    rgb(66, 213, 235),
    rgb(94, 149, 217),
    #6666ff
  );
}


.h1 {
  @include blue-gradient;
  background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h2 {
  font-weight: bold;
}

.h3 {
  font-weight: bold;
}

.head {
  background: gradient;
  background: -webkit-linear-gradient(
    240deg,
    rgb(0, 217, 255),
    rgb(26, 224, 204),
    rgb(66, 213, 235),
    rgb(94, 149, 217),
    rgb(102, 102, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.para {
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 700;
}

.pre {
  
  .code{
    font-size: small;
    font-weight: bold;
    border: 15px solid;
    padding: 50px;
    margin: 20px;
  }
  
}

.div {
  color: var(--color-black);
  font-size: 2rem;
}

.div a:link,
.div a:visited {
  color: var(--color-purple);
}

.div a:hover {
  background: -webkit-linear-gradient(
    240deg,
    rgb(0, 217, 255),
    rgb(26, 224, 204),
    rgb(66, 213, 235),
    rgb(94, 149, 217),
    rgb(102, 102, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}